FRONIUS_BASE_URL=http://192.0.2.50
DATABASE_PATH=./data/aurinko.db
CONTROL_MODE=simulate
PRICE_CSV_PATH=
SALES_MARGIN_CENTS_KWH=0.35
LIMIT_WHEN_NET_PRICE_BELOW_CENTS_KWH=0
LIMITED_EXPORT_PERCENT=0
MAX_EXPORT_W=10000
